.container {
  width: 375px;
  background-color: #fff;
}
.header {
  background-color: #fff;
}
.checkout {
  margin: 50px auto 0px auto;
  font-family: "Tenor Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #000000;
}

.cart-item {
  padding: 0 16px;
  margin-top: 20px;
  display: flex;
  &-image {
    width: 100px;
    height: 135px;
  }
  &-info {
    margin-top: 8px;
    margin-left: 10px;
    &-name {
      font-family: "Tenor Sans";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 2px;
      text-transform: uppercase;
      color: #000000;
    }
    &-title {
      margin-top: 5px;
      font-family: "Tenor Sans";
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 18px;
      color: #555555;
    }
    &-quantity {
      margin-top: 10px;
      display: flex;
      &-minus {
        border: 1px solid #c4c4c4;
        height: 15px;
        width: 15px;
        border-radius: 50%;
      }
      &-number {
        margin: 0;
        padding: 0 5px;
      }
      &-plus {
        border: 1px solid #c4c4c4;
        border-radius: 50%;
        height: 15px;
        width: 15px;
      }
    }
    &-price {
      margin-top: 20px;
      font-family: "Tenor Sans";
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 24px;
      color: #dd8560;
    }
  }
}

.hr {
  border-bottom: 1px solid #555555;
  opacity: 0.3;
  width: 343px;
  margin: 10px auto 10px auto;
}

.voucher {
  display: flex;
  margin-left: 50px;
  &-image {
    width: 30px;
    height: 30px;
  }
  &-text {
    margin-left: 10px;
    font-family: "Tenor Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 32px;
    color: #333333;
  }
}

.delivery {
  display: flex;
  margin-left: 50px;
  &-image {
    width: 30px;
    height: 30px;
  }
  &-text {
    margin-left: 10px;
    font-family: "Tenor Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 32px;
    color: #333333;
  }
  &-free {
    margin-left: 160px;
    text-align: right;
    font-family: "Tenor Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 32px;
    color: #333333;
  }
}

.space {
  height: 200px;
}

.total {
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
  &-text {
    font-family: "Tenor Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 34px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #333333;
  }
  &-price {
    font-family: "Tenor Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 34px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #dd8560;
  }
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: #000000;
  &-img-bag {
    width: 20px;
    height: 20px;
    margin-right: 20px;
  }
  &-continue {
    margin: 4px 0px 0px 0px;
    font-family: "Tenor Sans";
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #fcfcfc;
  }
  &:hover {
    cursor: pointer;
  }
}
