.container {
  width: 375px;
  background-color: white;
}

.search-top {
  padding-top: 20px;
  display: flex;
  .search-icon {
    margin-left: 20px;
    width: 20px;
    height: 20px;
    &:hover {
      cursor: pointer;
    }
  }
  .input-search {
    margin-left: 10px;
    width: 250px;

    height: 20px;
    border: none;
    &:focus {
      outline: none;
    }
  }
  .close-icon {
    width: 20px;
    height: 20px;
    &:hover {
      cursor: pointer;
    }
  }
}
.hr {
  border-bottom: 1px solid #555555;
  width: 305px;
  margin-top: 10px;
  margin-left: 20px;
}

.recent-search {
  margin-left: 20px;
  &-text {
    margin: 0;
    font-family: "Tenor Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 34px;
    color: #888888;
  }
  &-tag {
    display: flex;
    &-dress,
    &-collection,
    &-nike {
      background-color: #ececec;
      color: #555555;
      box-shadow: 0 0 1px #888888;
      margin: 2px 10px 0px 0px;
      padding: 5px 10px;
      border-radius: 20px;
    }
  }
}

.search-terms {
  margin-top: 20px;
  padding-left: 20px;
  &-text {
    margin: 0;
    font-family: "Tenor Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 34px;
    color: #888888;
  }
  &-list {
    ul {
      padding: 0;
      list-style: none;
    }
    li:nth-child(1) {
      margin-top: 5px;
    }
    li {
      margin-top: 20px;
    }
  }
  padding-bottom: 100px;
}
