.container {
  padding: 0 16px;
  width: 375px;
  background-color: #fff;
}

.close {
  padding: 10px 0px;
  &:hover {
    cursor: pointer;
  }
  img {
    width: 24px;
    height: 24px;
  }
}

.menu {
  display: flex;
  justify-content: space-between;
  p:nth-child(3) {
    margin-right: 60px;
    opacity: 0.5;
  }
  p:nth-child(2) {
    opacity: 0.5;
  }
  p {
    margin: 0;
    font-family: "Tenor Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 34px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #333333;
  }
}

.hr {
  margin-bottom: 30px;
}

.menu-item {
  padding-bottom: 30px;
  p {
    float: left;
    margin: 0;
  }
  img {
    margin-right: 30px;
    float: right;
    width: 18px;
    height: 8px;
    opacity: 0.5;
  }
  &-apparel-item {
    ul {
      padding-top: 25px;
      list-style: none;
    }
    li {
      margin: 25px 0px;
      text-transform: capitalize;
      overflow: auto;
    }
  }
}
